<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Home</title>
</head>




<body>

    

    <div>
<div>
  {% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <h1 style="color: aliceblue;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">{{ message }}</h1>
  {% endfor %}

{% endif %}
{% endwith %}
</div>

    {% if uploaded_image %}
    <div class="image-preview">
        <img id="img_show" src="{{ url_for('send_uploaded_file', filename=uploaded_image) }}" />
                </div>  
    {% endif %}

    <div>
      <form action="" method="post" enctype="multipart/form-data">

        <div class="contain">
            <input type="file"  name="f" >
        </div>
    
        <button type="submit">find points</button>
    
        </form>
    
    </div>

  </div>
</body>
</html>